<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="TmsManagerWeb"/>

    <dubbo:registry address="zookeeper://192.168.135.170:2181"/>

    <!--引用服务-->
    <dubbo:reference interface="com.kaishengit.tms.service.AccountService" id="accountService"/>
    <dubbo:reference interface="com.kaishengit.tms.service.RolePermissionService" id="rolePermissionService"/>
    <dubbo:reference interface="com.kaishengit.tms.service.TicketStoreService" id="ticketStoreService"/>


</beans>