<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

    <!--1. 创建ActiveMQ的连接工厂-->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <!--2. Spring适配JMS的连接工厂-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>


    <!--3. 配置JMSTemplate-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <!--配置连接工厂-->
        <property name="connectionFactory" ref="connectionFactory"/>
        <!--配置默认的目的地-->
        <!--<property name="defaultDestination" ref="topic"/>-->
    </bean>

    <!-- 4. 配置监听器和监听器容器-->
    <bean id="springTopicListener" class="com.kaishengit.jms.consumer.SpringTopicListener"/>
    <bean id="springTopicListener2" class="com.kaishengit.jms.consumer.SpringTopicListener2"/>

    <!--监听器容器-->
    <jms:listener-container connection-factory="connectionFactory" destination-type="topic">
        <jms:listener destination="spring-topic" ref="springTopicListener"/>
        <jms:listener destination="spring-topic" ref="springTopicListener2"/>
    </jms:listener-container>


</beans>